<%= render "shared/errors", object: @article %>

<div class="row">
	<div class="col-xs-12">
		<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |form| %>
		<div class="form-group">
			<div class="control-label col-xs-2">
		<%= form.label :title%>
			</div>
			<div class="col-xs-10">
		<%= form.text_field :title, class: "form-control", placeholder: "Article title", autofocus: true%>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-2">
			<%= form.label :description%>
			</div>
			<div class="col-xs-10">
				<%= form.text_area :description, class: "form-control"%>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">

			<%= form.submit class: "btn btn-primary" %>
			</div>
		</div>			
		<% end %>
		<div class="col-xs-4">

		<%= link_to "Cancel and got to Article Listings", articles_path %>
		</div>
	</div>
</div>